extends tex-autotrigger

snippet math "math mode" b
{{$
	$1
}}$
endsnippet

snippet ali "align" b
{{$%align%
	$1
}}$
endsnippet

snippet newpage "new page" b
%title $1
%date  `date +%Y-%m-%d`

= ${1:`!p snip.rv = snip.basename`} =
$0
endsnippet

snippet "\\([A-Z])\1" "mathbb" riA
`!p snip.rv = r"\mathbb{" + match.group(1) + r"}"`
endsnippet

snippet "\\([a-z])\1" "mathcal" riA
`!p snip.rv = r"\mathcal{" + match.group(1) + r"}"`
endsnippet
