extends tex-autotrigger

snippet newpage "new page" b
# ${1:`!p snip.rv = snip.basename`}

$0
endsnippet

snippet "\\([a-zA-Z])\1" "mathbb/mathcal" riA
`!p
cmd = "mathbb" if match.group(1).isupper() else "mathcal"
snip.rv = "\\" + cmd + "{" + match.group(1).upper() + "}"
`
endsnippet
