extends tex-autotrigger

snippet newpage "new page" b
# ${1:`!p snip.rv = snip.basename`}

$0
endsnippet

snippet "\\([A-Z])\1" "mathbb" riA
`!p snip.rv = r"\mathbb{" + match.group(1) + r"}"`
endsnippet

snippet "\\([a-z])\1" "mathcal" riA
`!p snip.rv = r"\mathcal{" + match.group(1) + r"}"`
endsnippet
